$fx-ui-common: '../submodules/fenix-ui-common/css/';

@import 'themes/variables';

/* Fenix Utils*/
@import '../submodules/fenix-ui-common/css/fenix-style-no-variables';

/* Pages */
@import 'pages/home';

/* Theme */
@import "themes/side-menu";
@import 'themes/theme';







//Temp to check

.container-fluid {
  position: relative;
  z-index: 0;
}