/* Base */
// It could be possible to import the fenix-common-ui style and override the variables

html, body, #wrapper, #page-content-wrapper {
  height: 100%;
  font-family: "FrutigerLTW02-45Light", Arial, Helvetica, Verdana, sans-serif;
}


body {
  //background-image: url(img/bg-body.png);
  background-color: white;
  padding-top: $host-menu-height;
}

.charts-holder{
  font-family: "FrutigerLTW02-45Light", Arial, Helvetica, Verdana, sans-serif !important;
}


p{
  //text-align: justify;
}

hr{
  border-color: #e5e5e5;
}

/* Typography */
h1, h2, h3, h4{
  font-family: 'Oswald', sans-serif;
}

h2{
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  color: $fx-cool-blue;

}


.brand-logo{
  height: 100px;
  //position: fixed;
  top: 0;
  left: 0;
  padding: 8px 20px;
  //z-index: 1001;
  pointer-events: none;




  h4{
    font-size: 43px;
    color: $fx-cool-blue;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

  }

  .subtitle{
    position: absolute;
    top: 27px;
    left: 300px;
    padding-left: 15px;
    border-left: 1px solid $fenix-text;

  }

  p{
    display:block;
    font-size: 19px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    line-height: 23px;
  }


}

.navbar-default .navbar-nav>li>a {
  padding-bottom: 14px;
}

.lang_picker_holder{
  li{
    float: left;
    padding: 15px 2px;
  }
}

.obj-box{
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: white;
  border-color: transparent;
  border-image: none;
  @include fx-border-radius(0);
  border-style: solid;
  border-width: 0;
  margin: 10px 0 20px;
  padding: 20px;
  width: auto;
}


.page-content-toolbar{
  height: 100px;
  background-color: white;
  z-index: 2001; //Because the sidebar is 1000
  top: 0;
  position: fixed;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;


  &:after{
    content: '';
    background-image: url(img/page-toolbar-shadow.png);
    height: 6px;
    width: 100%;
    position: absolute;
    bottom: -6px;
    left: 0;
  }



}



// Material Override

.panel.panel-default{
  border: 0 !important;

  h2{
    margin-top: 10px;
    margin-bottom: 20px;
  }

}

// Footer
.cw-footer{
  height: 80px;
  background-color: white;
  padding: 0 15px;


  .cw-footer-text{
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 38px;
    padding: 0 15px;

    p{
      font-weight: 500;
      text-transform: uppercase;
      font-size: 10px;
    }

    p.pull-right{
      position: relative;
      top: -28px;
      right: 26px;
      img{
        margin-left: 5px;
      }

    }

  }

}



// Map Marker
.country-details.map{

  .leaflet-container{

    &:hover{

      .marker-desat-icon,
      .marker-found-icon {
        //-webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;

      }




    }

  }


}

.marker-desat-icon,
.marker-found-icon {
  width: 20px !important;
  height: 20px !important;
  padding: 0;
  background-color: $fx-cool-blue;
  @include fx-border-radius(50%);

  border: 3px solid #f5f5f3;

  box-shadow: 0 0 0 0 rgba($fx-cool-blue, 0.7);
  -webkit-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
}


@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba($fx-cool-blue, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba($fx-cool-blue, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba($fx-cool-blue, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba($fx-cool-blue, 0);}}


.marker-desat-icon{
  background-color: gray;
  z-index: 0 !important;
  width: 18px !important;
  height: 18px !important;
  
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus{
  background-color: $fx-cool-blue;
  border-color: $fx-cool-blue;
}

.pagination>li>a, .pagination>li>span{
  color: $fx-cool-blue;
}