<div id="wrapper">

    <!-- #sidebar-wrapper -->
    <div id="sidebar-wrapper">

        <div class="fx-menu sidemenu">

            <div id="lateral-menu"></div>

            <!-- Quick stats -->
            <div class="spark-holder">

                <h2>QUICK STATS</h2>

                <div class="spark-item">
                    <h1 class="spark-number">20</h1>

                    <p> ACTIVE USERS </p>

                    <div class="sparkline" data-sparkline="0, 400, 10, 600, 12, 800, 400, 1000"></div>
                </div>

                <div class="spark-item">
                    <h1 class="spark-number">140.000</h1>

                    <p> VISITS SO FAR </p>

                    <div class="sparkline" data-sparkline="0, 100,  200, 12, 300,400,600"></div>
                </div>

                <br><br>

            </div>

        </div>

    </div> <!-- /#sidebar-wrapper -->

    <!-- #page-content-wrapper -->
    <div id="page-content-wrapper" class="home-content">

        <!-- Header -->
        <header class="page-content-toolbar">

            <!-- Logo-->
            <div class="brand-logo">
                <h4 class="title">CROWD PRICES</h4>
                <div class="subtitle">
                    <p>Real time</p>
                    <p>Price monitoring system</p>
                </div>
            </div>

            <!-- Side menu toggle button-->
            <a href="#menu-toggle" class="btn btn-default page-content-toolbar-btn" id="menu-toggle">
                <span class="sr-only"></span>
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
            </a>

        </header>

        <!-- Page Content -->
        <div id="page-content"></div>

        <!-- Footer -->
        <footer class="row">

            <div class="col-xs-12 afg-footer">
                <div class="afg-footer-text">
                    <p>2016 ® Central Statistic Organization</p>
                    <p class="pull-right">POWERED BY FENIX <img src="css/img/fenix-logo.jpg"></p>
                </div>

            </div>

        </footer>

        <br><br><br><br>

    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->