<!-- Selectors -->
<div class="container-fluid cw-selectors" id="selectors-el">

    <div class="row">

        <div class="col-md-12 nation-tile">
            <div id="nation-selector" class="fx-home-content-grid-top">
                <h2>Country</h2>

                <div data-selector="countries"></div>
            </div>

        </div>


    </div>




    <div class="row">

        <div class="col-md-12  home-tile">
            <div id="market-selector" class="fx-home-content-grid-top">
                <h2>Markets</h2>

                <div data-selector="markets"></div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="col-md-12 home-tile">
            <div id="commodity-selector" class="fx-home-content-grid-top">
                <h2>Commodities</h2>

                <div data-selector="commodities"></div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 data-range-holder">
            <h2>Date Range</h2>

            <div data-selector="time"></div>
        </div>
    </div>

</div>

<div class="cw-ui-holder clearfix">

    <!--Button Refresh-->
    <a id="refresh-btn" class="btn-floating cw-float pull-right btn-refresh"><i class="material-icons">refresh</i></a>

    <!--Button Download-->
    <a data-protected id="download-btn" class="btn-floating cw-float pull-right btn-download"><i class="material-icons">file_download</i></a>



</div>

<!-- Visualization -->
<div class="container-fluid">


    <div class="row alert-container">


        <div class="col-xs-12">
            <div class="alert alert-success" id="no-data-alert">
                <strong>Warning:</strong> No data for the current selection
            </div>

            </div>

        </div>


    <!-- Map -->
    <div class="row">


        <div class="col-xs-12 charts-holder first-chart">
            <div class="content">

                <div class="panel panel-default hoverable">

                    <div class="panel-body">

                        <h2>Map Markets</h2>

                        <div id="map-cluster" class="content-item" style="height: 300px"></div>

                    </div>

                </div>

            </div>

        </div>
    </div>

    <!-- Charts -->
    <div class="row">
        <div class="col-xs-12 charts-holder">
            <div class="content">


                <div class="panel panel-default hoverable">

                    <div class="panel-body">

                        <h2>Daily Prices</h2>

                        <div id="chart-daily-prices" class="content-item"></div>

                    </div>

                </div>


                <div class="panel panel-default hoverable">

                    <div class="panel-body">

                        <h2>Average Prices</h2>

                        <div id="chart-average-prices" class="content-item"></div>

                    </div>

                </div>


            </div>

        </div>
    </div>

    <!-- Tables -->
    <div class="row">
        <div class="col-xs-12 charts-holder">


            <div class="panel panel-default hoverable">

                <div class="panel-body">

                    <h2>Daily Data</h2>
                    <span class="table-daterange" id="table-daily-daterange"></span>
                    <table id="table-daily-data"></table>

                    Export this table as
                    <a data-download="csv" data-table="daily">CSV</a>
                    <a data-download="json" data-table="daily">JSON</a>
                    <a data-download="xml" data-table="daily">XLS</a>

                </div>

            </div>

            <div class="panel panel-default hoverable">

                <div class="panel-body">

                    <h2>Aggregated Data</h2>
                    <span class="table-daterange" id="table-aggregated-daterange"></span>
                    <table id="table-aggregated-data"></table>
                    Export this table as
                    <a data-download="csv" data-table="aggregated">CSV</a>
                    <a data-download="json" data-table="aggregated">JSON</a>
                    <a data-download="xml" data-table="aggregated">XLS</a>

                </div>

            </div>



        </div>
    </div>

</div>