<!-- Selectors -->
<div class="container-fluid" id="selectors-el">

    <div class="row" >

        <div class="row-height">

            <div class="col-md-4 col-md-height home-tile aims">
                <div id="nation-selector" class="fx-home-content-grid-top">
                    <h2>Countries</h2>
                    <div data-selector="countries"></div>
                </div>
            </div>
            <div class="col-md-4 col-md-height home-tile gray">
                <div id="market-selector" class="fx-home-content-grid-top">
                    <h2>Markets</h2>
                    <div data-selector="markets"></div>
                </div>
            </div>
            <div class="col-md-4 col-md-height home-tile">
                <div id="commodity-selector" class="fx-home-content-grid-top">
                    <h2>Commodities</h2>
                    <div data-selector="commodities"></div>
                </div>
            </div>


        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 data-range-holder">
            <h2>Date Range</h2>
            <div data-selector="time"></div>
        </div>
    </div>

</div>

<button disabled id="download-btn" class="btn btn-default" type="submit">Download</button>

<!-- Visualization -->
<div class="container-fluid">

    <!-- Map -->
    <div class="row">

        <div id='country-details' class="col-xs-12 country-details home-tile map">
            <div id="map-cluster" class="content-item"></div>
        </div>
    </div>

    <!-- Charts -->
    <div class="row">
        <div class="col-xs-12 charts-holder">
            <div class="content">

                <h2>Daily Prices</h2>

                <div id="chart-daily-prices" class="content-item"></div>
                <h2>Average Prices</h2>

                <div id="chart-average-prices" class="content-item"></div>

            </div>

        </div>
    </div>

    <!-- Tables -->
    <div class="row">
        <div class="col-xs-12 charts-holder">
            <h2>Daily Data</h2>
            <table id="table-daily-data"></table>

            Export this table as
            <a data-download="csv" data-table="daily">CSV</a>
            <a data-download="json" data-table="daily">JSON</a>
            <a data-download="xml" data-table="daily">XLS</a>

            <h2>Aggregated Data</h2>
            <table id="table-aggregated-data"></table>
            Export this table as
            <a data-download="csv" data-table="aggregated">CSV</a>
            <a data-download="json" data-table="aggregated">JSON</a>
            <a data-download="xml" data-table="aggregated">XLS</a>

        </div>
    </div>

</div>