/* Afghanistan Home */

.cw-selectors{

  background-color: $light-green;

  .fx-selector{
    display: none;

  }

}


.cw-ui-holder{
  background-color: $light-green;
  padding-right: 25px;
}

.cw-float{

  text-align: center;

  width: 45px;
  height: 45px;
  margin-bottom: -22px;



  &.btn-refresh{
    background-color: #aa66cc;
  }

  &.btn-download{
    background-color: #FF8800;
  }
  
  .material-icons{

    line-height: 45px;
    

  }

}

.alert-container{
  background-color: whitesmoke;
  padding-top: 25px;
}

.home-content{

  background-color: $dark-green;
  
  .home-tile{
    padding: 20px 15px;
    position: relative;
    background-color: $light-green;
  }

  .nation-tile{
    background-color: $light-green;

      .selectize-control{
        display: inline-block;
        min-width: 100px;
        border-bottom: 1px solid rgba($dark-green, 0.5);
      }

    .selectize-input{
      background-color: transparent;
      @include fx-no-border;
      @include fx-no-border-radius;
      outline: none !important;
      @include fx-noshadow;
      padding-left: 0px;
      overflow: visible;

      &:after{
        opacity: 0 !important;
      }


      &.dropdown-active{


        .item{


          &:after {
            margin-top: -1px;
            border-width: 0 5px 5px 5px;
            border-color: transparent transparent $dark-green transparent;
          }

        }


      }

      .item{
        font-family: 'Oswald', sans-serif !important;
        font-size: 35px !important;
        color: $dark-green !important;
        position: relative;
        text-transform: uppercase;
        line-height: 27px;

        &:after {
          content: ' ';
          display: block;
          position: absolute;
          top: 50%;
           right: -17px;
          //margin-top: -3px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 5px 5px 0 5px;
          border-color: $dark-green transparent transparent transparent;
        }

      }


      &.input-active, &:focus{
        background-color: transparent !important;
        outline: none !important;
        @include fx-noshadow;



        input{
          background-color: transparent !important;
          outline: none !important;
          @include fx-noshadow;
        }

      }

    }


  }

  


}

.data-range-holder{
  background-color: $light-green;

  [data-selector="time"]{

    margin: 25px;

    .selector-header{
      display: none;
    }

  }


}





.charts-holder{
  background-color: whitesmoke;

  &.first-chart{
    padding-top: 50px;
  }



  .content{

    padding: 0;

  }
}


/* Sparkline Charts */


#result {
  text-align: right;
  color: gray;
  min-height: 2em;
}
#table-sparkline {
  margin: 0 auto;
  border-collapse: collapse;
}

.highcharts-tooltip>span {
  background: white;
  border: 1px solid silver;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #888;
  padding: 8px;
}

.spark-holder{
  margin-top: 250px;
  //border-top: 1px dashed whitesmoke;
  position: absolute;
  width: 300px;

  h2{
    padding: 0 15px;
  }

  p{
    padding: 0 15px;
    color: whitesmoke;
    font-size: 10px;

  }

}


.spark-number{
  color: whitesmoke;
  font-size: 32px;
  margin-bottom: 0;
  font-weight: 100;

}

.spark-item{
  padding: 0 15px;
  display: inline-block;
  height: 100px;
  width: 45%;

  p{
    font-weight: 500;
    color: white;
    font-size: 8px;
    padding: 0;
  }

}


/* Map Search */

.leaflet-control-search {


  .search-input{
    height: auto;
    padding: 5px 25px 5px 10px;
    margin: 4px 3px 3px 3px;
  }

  .search-cancel{
    top: 6px;
    right: 27px;
  }

  .search-button{
    margin-top: 5px;
    margin-bottom: 4px;
  }


  .search-tooltip{
    background-color: white;
  }


}

.leaflet-top.leaflet-left{
  z-index: 2000;
}



.tooltip-market {
  color: $fx-cool-blue !important;
  font-weight: bold;


}


.tooltip-market + .tooltip-place{

  margin-top: 20px;
  position: relative;


  &:before{
    content: "";
    width: 100%;
    height: 1px;
    background-color: $fenix-hr;
    position: absolute;
    top: -8px;
    left: 0;

  }


}

.tooltip-place{
  font-style: italic;
  background-color: transparent !important;



  &:hover{
    text-decoration: underline;
    background-color: transparent !important;

  }



}

