/* Afghanistan Home */



.home-content{

background-color: $afg-home-background;


  .home-tile{
    padding: 20px 15px;
    position: relative;
  }

  .home-tile.gray{
    background-color: $center-color;
  }

  .home-tile.aims{
    background-color: $superlight-gray;

  }


}

.data-range-holder{
  background-color: #e0f1ee;

  [data-selector="time"]{

    margin: 25px;

    .selector-header{
      display: none;
    }

  }


}





.charts-holder{
  background-color: whitesmoke;
}


/* Sparkline Charts */


#result {
  text-align: right;
  color: gray;
  min-height: 2em;
}
#table-sparkline {
  margin: 0 auto;
  border-collapse: collapse;
}

.highcharts-tooltip>span {
  background: white;
  border: 1px solid silver;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #888;
  padding: 8px;
}

.spark-holder{
  margin-top: 250px;
  //border-top: 1px dashed whitesmoke;
  position: absolute;
  width: 300px;

  h2{
    padding: 0 15px;
  }

  p{
    padding: 0 15px;
    color: whitesmoke;
    font-size: 10px;

  }

}


.spark-number{
  color: whitesmoke;
  font-size: 32px;
  margin-bottom: 0;
}

.spark-item{
  padding: 0 15px;
  display: inline-block;
  height: 100px;
  width: 45%;

  p{
    font-weight: 500;
    color: white;
    font-size: 8px;
    padding: 0;
  }

}